:root{
	--bgColor: #F36531;
	--black: #000;
	--white: #fff;
	--text-color: #42423F;
	--color-two: #5D7BC1;
	--color-three: #9753AA;
	--rootFont: 62.5%;
	--fontSize: 1.2rem;
	--buttonColor: #6CC8B9;
	--buttonHover: color(#6CC8B9 lightness(80%));
	--containerWidth: 1100px;
}










